In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from endless_line.data_utils.dataloader import DataLoader

# Data Loading

In [3]:
data = DataLoader(data_dir_path="data", load_all_files=True)

In [4]:
data.clean_data()

DateParseError: Unknown datetime string format, unable to parse: 2018-11-05 nan, at position 0

### Manual loading

In [5]:
dir_path= "data"
dir_path = os.path.join(os.getcwd(), dir_path)
dir_path

'c:\\Users\\Henri Mayoud\\Documents\\études\\ESSEC-Centrale\\cours Y2\\T2\\hackathon\\git_\\Hackathon-ElevenStrategy\\data'

In [6]:
attendance = pd.read_csv(os.path.join(dir_path,"attendance.csv"))
entity_schedule = pd.read_csv(os.path.join(dir_path,"entity_schedule.csv"))
link_attraction_park = pd.read_csv(os.path.join(dir_path,"link_attraction_park.csv"), sep=";")
waiting_times = pd.read_csv(os.path.join(dir_path,"waiting_times.csv"))
weather_data = pd.read_csv(os.path.join(dir_path,"weather_data.csv"))

In [44]:
glossary = pd.read_excel(os.path.join(dir_path,"glossary.xlsx"))
parade_night_show = pd.read_excel(os.path.join(dir_path,"parade_night_show.xlsx"))

# DATA TYPES

## Attendance

In [17]:
data.attendance.head()

   USAGE_DATE       FACILITY_NAME  attendance
0  2018-06-01  PortAventura World       46804
2  2018-06-02  PortAventura World       57940
4  2018-06-03  PortAventura World       44365
6  2018-06-04  PortAventura World       37617
8  2018-06-05  PortAventura World       32438

In [18]:
data.attendance.dtypes

USAGE_DATE       object
FACILITY_NAME    object
attendance        int64
dtype: object

In [19]:
data.attendance["USAGE_DATE"] = data.attendance["USAGE_DATE"].astype("datetime64[s]")
data.attendance.dtypes

USAGE_DATE       datetime64[s]
FACILITY_NAME           object
attendance               int64
dtype: object

## Entity Schedule

In [24]:
data.entity_schedule.head()

,REF_CLOSING_DESCRIPTION,ENTITY_DESCRIPTION_SHORT,ENTITY_TYPE,DEB_TIME,FIN_TIME,UPDATE_TIME,WORK_DATE
1,NaN,Dizzy Dropper,ATTR,2022-04-07 08:30:00,2022-04-07 22:04:00,2022-04-08 08:00:30,2022-04-07
6,NaN,PortAventura World,PARK,2018-07-17 08:30:00,2018-07-17 09:30:00,2018-07-18 07:48:41,2018-07-17
11,NaN,PortAventura World,PARK,2019-02-28 08:30:00,2019-02-28 09:30:00,2019-03-01 09:23:40,2019-02-28
12,Fermeture Réhab,Kiddie Coaster,ATTR,2018-02-21 23:59:00,2018-02-21 23:59:00,2018-02-22 08:36:23,2018-02-21
13,NaN,PortAventura World,PARK,2019-08-18 08:30:00,2019-08-18 09:30:00,2019-08-19 07:34:17,2019-08-18

In [25]:
data.entity_schedule.dtypes

REF_CLOSING_DESCRIPTION            object
ENTITY_DESCRIPTION_SHORT           object
ENTITY_TYPE                        object
DEB_TIME                    datetime64[s]
FIN_TIME                    datetime64[s]
UPDATE_TIME                 datetime64[s]
WORK_DATE                   datetime64[s]
dtype: object

In [26]:
data.entity_schedule["REF_CLOSING_DESCRIPTION"].unique()

array([nan, 'Fermeture Réhab', 'Fermeture Opérationnelle'], dtype=object)

In [27]:
data.entity_schedule["ENTITY_DESCRIPTION_SHORT"].unique()

array(['Dizzy Dropper', 'PortAventura World', 'Kiddie Coaster',
       'Oz Theatre', 'Free Fall', 'Giga Coaster', 'Inverted Coaster',
       'Himalaya Ride', 'Water Ride', 'Spinning Coaster', 'Swing Ride',
       'Bungee Jump', 'Rapids Ride', 'Spiral Slide', 'Superman Ride',
       'Drop Tower', 'Merry Go Round', 'Bumper Cars', 'Giant Wheel',
       'Flying Coaster', 'Roller Coaster', 'Go-Karts', 'Haunted House',
       'Zipline', 'Crazy Dance', 'Circus Train', 'Vertical Drop'],
      dtype=object)

In [28]:
data.entity_schedule["ENTITY_TYPE"].unique()

array(['ATTR', 'PARK'], dtype=object)

## Link Attraction Park

In [15]:
attractions = data.link_attraction_park['ATTRACTION'].tolist()
test_entity_schedule = data.entity_schedule[data.entity_schedule['ENTITY_DESCRIPTION_SHORT'].isin(attractions + ['PortAventura World'])]
test_entity_schedule.head()

,REF_CLOSING_DESCRIPTION,ENTITY_DESCRIPTION_SHORT,ENTITY_TYPE,DEB_TIME,FIN_TIME,UPDATE_TIME,WORK_DATE
1,NaN,Dizzy Dropper,ATTR,2022-04-07 08:30:00,2022-04-07 22:04:00,2022-04-08 08:00:30,2022-04-07
2,NaN,Sling Shot,ATTR,2018-03-28 08:37:00,2018-03-28 18:12:00,2018-03-29 08:24:37,2018-03-28
3,NaN,Gondola,ATTR,2019-04-11 09:55:00,2019-04-11 20:19:00,2019-04-12 08:59:29,2019-04-11
4,NaN,Monorail,ATTR,2019-06-29 08:30:00,2019-06-29 20:35:00,2019-06-30 08:14:16,2019-06-29
5,Fermeture Réhab,Top Spin,ATTR,2019-04-07 23:59:00,2019-04-07 23:59:00,2019-04-08 07:40:04,2019-04-07

In [8]:
data.link_attraction_park.head()

       ATTRACTION                PARK
0  Aeroplane Ride      Tivoli Gardens
1     Bumper Cars  PortAventura World
2     Bungee Jump  PortAventura World
3    Circus Train  PortAventura World
4       Crazy Bus      Tivoli Gardens

In [9]:
data.link_attraction_park.dtypes

ATTRACTION    object
PARK          object
dtype: object

In [8]:
test = data.link_attraction_park.merge(data.entity_schedule, left_on="ATTRACTION", right_on="ENTITY_DESCRIPTION_SHORT")
test.head()

,ATTRACTION,PARK,REF_CLOSING_DESCRIPTION,ENTITY_DESCRIPTION_SHORT,ENTITY_TYPE,DEB_TIME,FIN_TIME,UPDATE_TIME,WORK_DATE
0,Bumper Cars,PortAventura World,Fermeture Réhab,Bumper Cars,ATTR,2018-07-19 23:59:00,2018-07-19 23:59:00,2018-07-20 08:01:38,2018-07-19
1,Bumper Cars,PortAventura World,NaN,Bumper Cars,ATTR,2022-08-15 09:27:00,2022-08-15 22:17:00,2022-08-16 07:23:33,2022-08-15
2,Bumper Cars,PortAventura World,NaN,Bumper Cars,ATTR,2020-01-17 08:30:00,2020-01-17 17:47:00,2020-01-18 07:38:22,2020-01-17
3,Bumper Cars,PortAventura World,NaN,Bumper Cars,ATTR,2019-08-10 08:30:00,2019-08-10 22:17:00,2019-08-11 08:16:57,2019-08-10
4,Bumper Cars,PortAventura World,NaN,Bumper Cars,ATTR,2018-01-21 08:30:00,2018-01-21 19:11:00,2018-01-22 08:44:49,2018-01-21

In [9]:
test[test["PARK"] != 'PortAventura World']

Empty DataFrame
Columns: [ATTRACTION, PARK, REF_CLOSING_DESCRIPTION, ENTITY_DESCRIPTION_SHORT, ENTITY_TYPE, DEB_TIME, FIN_TIME, UPDATE_TIME, WORK_DATE]
Index: []

In [10]:
test.shape

(23351, 9)

## Waiting Times

In [18]:
waiting_times.head()

,WORK_DATE,DEB_TIME,DEB_TIME_HOUR,FIN_TIME,ENTITY_DESCRIPTION_SHORT,WAIT_TIME_MAX,NB_UNITS,GUEST_CARRIED,CAPACITY,ADJUST_CAPACITY,OPEN_TIME,UP_TIME,DOWNTIME,NB_MAX_UNIT
0,2018-01-01,2018-01-01 21:00:00.000,21,2018-01-01 21:15:00.000,Roller Coaster,0,2.0,0.0,0.000,0.00,0,0,0,2.0
1,2018-01-01,2018-01-01 19:30:00.000,19,2018-01-01 19:45:00.000,Bumper Cars,5,18.0,148.0,254.749,254.75,15,15,0,18.0
2,2018-01-01,2018-01-01 22:30:00.000,22,2018-01-01 22:45:00.000,Rapids Ride,0,1.0,0.0,0.000,0.00,0,0,0,2.0
3,2018-01-01,2018-01-01 12:45:00.000,12,2018-01-01 13:00:00.000,Crazy Dance,5,1.0,46.0,250.001,250.00,15,15,0,1.0
4,2018-01-01,2018-01-01 17:00:00.000,17,2018-01-01 17:15:00.000,Skyway,5,15.0,92.0,211.500,198.25,15,15,0,16.0

In [19]:
waiting_times.dtypes

WORK_DATE                    object
DEB_TIME                     object
DEB_TIME_HOUR                 int64
FIN_TIME                     object
ENTITY_DESCRIPTION_SHORT     object
WAIT_TIME_MAX                 int64
NB_UNITS                    float64
GUEST_CARRIED               float64
CAPACITY                    float64
ADJUST_CAPACITY             float64
OPEN_TIME                     int64
UP_TIME                       int64
DOWNTIME                      int64
NB_MAX_UNIT                 float64
dtype: object

In [20]:
waiting_times["WORK_DATE"] = waiting_times["WORK_DATE"].astype("datetime64[s]")
waiting_times["DEB_TIME"] = waiting_times["DEB_TIME"].astype("datetime64[s]")
waiting_times["FIN_TIME"] = waiting_times["FIN_TIME"].astype("datetime64[s]")

In [21]:
waiting_times["DEB_TIME_HOUR"].unique()

array([21, 19, 22, 12, 17, 18, 13, 15, 11, 20, 10, 14, 16,  9],
      dtype=int64)

In [22]:
waiting_times["ENTITY_DESCRIPTION_SHORT"].unique()

array(['Roller Coaster', 'Bumper Cars', 'Rapids Ride', 'Crazy Dance',
       'Skyway', 'Free Fall', 'Monorail', 'Swing Ride', 'Crazy Bus',
       'Drop Tower', 'Spinning Coaster', 'Scooby Doo', 'Superman Ride',
       'Spiral Slide', 'Inverted Coaster', 'Water Ride', 'Power Tower',
       'Top Spin', 'Log Flume', 'Oz Theatre', 'Circus Train',
       'Giant Wheel', 'Kiddie Coaster', 'Bungee Jump', 'Zipline',
       'Aeroplane Ride', 'Haunted House', 'Reverse Bungee', 'Go-Karts',
       'Dizzy Dropper', 'Merry Go Round', 'Flying Coaster', 'Gondola',
       'Pirate Ship', 'Giga Coaster', 'Himalaya Ride', 'Sling Shot',
       'Vertical Drop', 'Tilt-A-Whirl'], dtype=object)

## Weather Data

In [82]:
weather_data.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,915148800,1999-01-01 00:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,8.33,NaN,3.39,5.28,...,NaN,NaN,NaN,NaN,NaN,8,800,Clear,sky is clear,01n
1,915152400,1999-01-01 01:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,8.08,NaN,3.54,5.18,...,NaN,NaN,NaN,NaN,NaN,6,800,Clear,sky is clear,01n
2,915156000,1999-01-01 02:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,8.08,NaN,4.11,5.38,...,NaN,NaN,NaN,NaN,NaN,14,801,Clouds,few clouds,02n
3,915159600,1999-01-01 03:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,7.31,NaN,3.73,4.42,...,NaN,NaN,NaN,NaN,NaN,39,802,Clouds,scattered clouds,03n
4,915163200,1999-01-01 04:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,6.91,NaN,3.53,4.00,...,NaN,NaN,NaN,NaN,NaN,52,803,Clouds,broken clouds,04n

In [83]:
weather_data.dtypes

dt                       int64
dt_iso                  object
timezone                 int64
city_name               object
lat                    float64
lon                    float64
temp                   float64
visibility             float64
dew_point              float64
feels_like             float64
temp_min               float64
temp_max               float64
pressure                 int64
sea_level              float64
grnd_level             float64
humidity                 int64
wind_speed             float64
wind_deg                 int64
wind_gust              float64
rain_1h                float64
rain_3h                float64
snow_1h                float64
snow_3h                float64
clouds_all               int64
weather_id               int64
weather_main            object
weather_description     object
weather_icon            object
dtype: object

In [85]:
weather_data["test_time"] = weather_data["dt_iso"].astype("datetime64[s]")

DateParseError: Unknown datetime string format, unable to parse: 1999-01-01 00:00:00 +0000 UTC, at position 0

In [87]:
weather_data["lon"].unique()

array([2.295104])

In [88]:
weather_data["city_name"].unique()

array(['Custom location'], dtype=object)

## Parade Show

In [45]:
parade_night_show = parade_night_show[(parade_night_show['WORK_DATE'] < '2020-01-01') | (parade_night_show['WORK_DATE'] >= '2022-01-01')]

parade_night_show_night_show = parade_night_show[["WORK_DATE", "NIGHT_SHOW"]].rename(columns={"NIGHT_SHOW": 'show_or_parade'})
parade_night_show_parade_1 = parade_night_show[["WORK_DATE", "PARADE_1"]].rename(columns={"PARADE_1": 'show_or_parade'})
parade_night_show_parade_2 = parade_night_show[["WORK_DATE", "PARADE_2"]].rename(columns={"PARADE_2": 'show_or_parade'})

In [47]:
parade_night_show_ = pd.concat([parade_night_show_night_show, parade_night_show_parade_1, parade_night_show_parade_2])

In [ ]:
# drop all rows of non-existing parade_2
parade_night_show_ = parade_night_show_.dropna(subset=['show_or_parade'])

In [ ]:
# TODO: add 15min granularity 
# TODO: concat date and show hour into one single datetime (to join with waiting time table later)

In [49]:
parade_night_show_.head()

   WORK_DATE show_or_parade
0 2018-10-01       20:00:00
1 2018-10-02       20:00:00
2 2018-10-03       20:00:00
3 2018-10-04       20:00:00
4 2018-10-05       20:00:00

In [62]:
parade_night_show_.sort_values(['WORK_DATE', 'show_or_parade'])

     WORK_DATE show_or_parade
0   2018-10-01       12:10:00
0   2018-10-01       17:30:00
0   2018-10-01       20:00:00
1   2018-10-02       12:10:00
1   2018-10-02       17:30:00
..         ...            ...
668 2022-08-16       23:00:00
669 2022-08-17       17:30:00
669 2022-08-17       23:00:00
670 2022-08-18       17:30:00
670 2022-08-18       23:00:00

[1378 rows x 2 columns]

In [36]:
import datetime

In [ ]:
# Careful: depending on how we join this with other table, it might mean that the parade is 30min or 45min long !!!!!

parade_night_show_15 = parade_night_show_.copy()
parade_night_show_30 = parade_night_show_.copy()
time_change_15 = datetime.timedelta(minutes=15) 
time_change_30 = datetime.timedelta(minutes=30) 
parade_night_show_15['show_or_parade'] = parade_night_show_15['show_or_parade'].apply(lambda t: (datetime.datetime.combine(datetime.date.today(),t) + time_change_15).time())
parade_night_show_30['show_or_parade'] = parade_night_show_30['show_or_parade'].apply(lambda t: (datetime.datetime.combine(datetime.date.today(),t) + time_change_30).time())

In [61]:
parade_night_show_granular = pd.concat([parade_night_show_, parade_night_show_15, parade_night_show_30]).sort_values(['WORK_DATE','show_or_parade'])
parade_night_show_granular.iloc[:10]

   WORK_DATE show_or_parade
0 2018-10-01       12:10:00
0 2018-10-01       12:25:00
0 2018-10-01       12:40:00
0 2018-10-01       17:30:00
0 2018-10-01       17:45:00
0 2018-10-01       18:00:00
0 2018-10-01       20:00:00
0 2018-10-01       20:15:00
0 2018-10-01       20:30:00
1 2018-10-02       12:10:00

In [8]:
parade_night_show = parade_night_show[(parade_night_show['WORK_DATE'] < '2020-01-01') | (parade_night_show['WORK_DATE'] >= '2022-01-01')]

# to merge this with time schedules, we need full datetimes (data + hour)
parade_night_show['NIGHT_SHOW_DATE'] = parade_night_show.apply(lambda row: pd.to_datetime(f"{row['WORK_DATE'].date()} {row['NIGHT_SHOW']}"), axis=1)
parade_night_show['PARADE_1_DATE'] = parade_night_show.apply(lambda row: pd.to_datetime(f"{row['WORK_DATE'].date()} {row['PARADE_1']}"), axis=1)
parade_night_show['PARADE_2_DATE'] = parade_night_show.apply(lambda row: pd.to_datetime(f"{row['WORK_DATE'].date()} {row['PARADE_2']}"), axis=1)

DateParseError: Unknown datetime string format, unable to parse: 2018-11-05 nan, at position 0

In [9]:
parade_night_show.head()

,Unnamed: 0,WORK_DATE,NIGHT_SHOW,PARADE_1,PARADE_2,NIGHT_SHOW_DATE,PARADE_1_DATE
0,0,2018-10-01,20:00:00,17:30:00,12:10:00,2018-10-01 20:00:00,2018-10-01 17:30:00
1,1,2018-10-02,20:00:00,17:30:00,12:10:00,2018-10-02 20:00:00,2018-10-02 17:30:00
2,2,2018-10-03,20:00:00,17:30:00,12:10:00,2018-10-03 20:00:00,2018-10-03 17:30:00
3,3,2018-10-04,20:00:00,17:30:00,12:10:00,2018-10-04 20:00:00,2018-10-04 17:30:00
4,4,2018-10-05,20:00:00,17:30:00,12:10:00,2018-10-05 20:00:00,2018-10-05 17:30:00

In [11]:
data.parade_night_show.head()

   WORK_DATE NIGHT_SHOW  PARADE_1  PARADE_2
0 2018-10-01   20:00:00  17:30:00  12:10:00
1 2018-10-02   20:00:00  17:30:00  12:10:00
2 2018-10-03   20:00:00  17:30:00  12:10:00
3 2018-10-04   20:00:00  17:30:00  12:10:00
4 2018-10-05   20:00:00  17:30:00  12:10:00

In [12]:
data.parade_night_show.dtypes

WORK_DATE     datetime64[ns]
NIGHT_SHOW            object
PARADE_1              object
PARADE_2              object
dtype: object

In [20]:
type(data.parade_night_show["NIGHT_SHOW"][0])

datetime.time

In [ ]:
parade_night_show = data.parade_night_show
#parade_night_show['NIGHT_SHOW_'] = pd.to_datetime(parade_night_show['NIGHT_SHOW'], format='%Y-%m-%d %H:%M:%S %z UTC', errors='coerce')
#parade_night_show['NIGHT_SHOW_'] = pd.to_datetime(parade_night_show['WORK_DATE'].dt.strftime('%Y-%m-%d') + ' ' + parade_night_show['NIGHT_SHOW'])
parade_night_show['NIGHT_SHOW_'] = parade_night_show.apply(lambda row: pd.to_datetime(f"{row['WORK_DATE'].date()} {row['NIGHT_SHOW']}"), axis=1)
parade_night_show['NIGHT_SHOW_'] = parade_night_show.apply(lambda row: pd.to_datetime(f"{row['WORK_DATE'].date()} {row['NIGHT_SHOW']}"), axis=1)
parade_night_show['NIGHT_SHOW_'] = parade_night_show.apply(lambda row: pd.to_datetime(f"{row['WORK_DATE'].date()} {row['NIGHT_SHOW']}"), axis=1)
parade_night_show.dtypes

WORK_DATE      datetime64[ns]
NIGHT_SHOW             object
PARADE_1               object
PARADE_2               object
NIGHT_SHOW_    datetime64[ns]
dtype: object

In [22]:
parade_night_show.head()

   WORK_DATE NIGHT_SHOW  PARADE_1  PARADE_2         NIGHT_SHOW_
0 2018-10-01   20:00:00  17:30:00  12:10:00 2018-10-01 20:00:00
1 2018-10-02   20:00:00  17:30:00  12:10:00 2018-10-02 20:00:00
2 2018-10-03   20:00:00  17:30:00  12:10:00 2018-10-03 20:00:00
3 2018-10-04   20:00:00  17:30:00  12:10:00 2018-10-04 20:00:00
4 2018-10-05   20:00:00  17:30:00  12:10:00 2018-10-05 20:00:00

## Attendance

In [23]:
data.attendance.head()

   USAGE_DATE       FACILITY_NAME  attendance
0  2018-06-01  PortAventura World       46804
2  2018-06-02  PortAventura World       57940
4  2018-06-03  PortAventura World       44365
6  2018-06-04  PortAventura World       37617
8  2018-06-05  PortAventura World       32438