In [2]:
import pandas as pd
import numpy as np
import os

In [ ]:
from endless_line.data_utils.dataloader import DataLoader

ModuleNotFoundError: No module named 'endless_line'

# Data Loading

In [ ]:
exploration_dir = os.getcwd()
exploration_dir

In [7]:
data = DataLoader(data_dir_path="data", load_all_files=True)

NameError: name 'DataLoader' is not defined

In [5]:
dir_path= "data"
dir_path = os.path.join(os.getcwd(), dir_path)
dir_path

'c:\\Users\\Henri Mayoud\\Documents\\études\\ESSEC-Centrale\\cours Y2\\T2\\hackathon\\git_\\Hackathon-ElevenStrategy\\exploration\\data'

In [6]:
attendance = pd.read_csv(os.path.join(dir_path,"attendance.csv"))
entity_schedule = pd.read_csv(os.path.join(dir_path,"entity_schedule.csv"))
link_attraction_park = pd.read_csv(os.path.join(dir_path,"link_attraction_park.csv"), sep=";")
waiting_times = pd.read_csv(os.path.join(dir_path,"waiting_times.csv"))
weather_data = pd.read_csv(os.path.join(dir_path,"weather_data.csv"))

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\Users\\Henri Mayoud\\Documents\\études\\ESSEC-Centrale\\cours Y2\\T2\\hackathon\\git_\\Hackathon-ElevenStrategy\\exploration\\data\\attendance.csv'

In [ ]:
glossary = pd.read_excel(os.path.join(dir_path,"glossary.xlsx"))
parade_night_show = pd.read_excel(os.path.join(dir_path,"parade_night_show.xlsx"))

# DATA TYPES

## Attendance

In [ ]:
attendance.head()

   USAGE_DATE       FACILITY_NAME  attendance
0  2018-06-01  PortAventura World       46804
1  2018-06-01      Tivoli Gardens       20420
2  2018-06-02  PortAventura World       57940
3  2018-06-02      Tivoli Gardens       29110
4  2018-06-03  PortAventura World       44365

In [ ]:
attendance.dtypes

USAGE_DATE       object
FACILITY_NAME    object
attendance        int64
dtype: object

In [ ]:
attendance["USAGE_DATE"] = attendance["USAGE_DATE"].astype("datetime64[s]")
attendance.dtypes

USAGE_DATE       datetime64[s]
FACILITY_NAME           object
attendance               int64
dtype: object

## Entity Schedule

In [ ]:
entity_schedule.head()

,REF_CLOSING_DESCRIPTION,ENTITY_DESCRIPTION_SHORT,ENTITY_TYPE,DEB_TIME,FIN_TIME,UPDATE_TIME,WORK_DATE
0,NaN,Tivoli Gardens,PARK,2018-11-19 10:00:00.000,2018-11-19 18:00:00.000,2018-11-20 08:24:32.000,2018-11-19
1,NaN,Dizzy Dropper,ATTR,2022-04-07 08:30:00.000,2022-04-07 22:04:00.000,2022-04-08 08:00:30.000,2022-04-07
2,NaN,Sling Shot,ATTR,2018-03-28 08:37:00.000,2018-03-28 18:12:00.000,2018-03-29 08:24:37.000,2018-03-28
3,NaN,Gondola,ATTR,2019-04-11 09:55:00.000,2019-04-11 20:19:00.000,2019-04-12 08:59:29.000,2019-04-11
4,NaN,Monorail,ATTR,2019-06-29 08:30:00.000,2019-06-29 20:35:00.000,2019-06-30 08:14:16.000,2019-06-29

In [ ]:
entity_schedule.dtypes

REF_CLOSING_DESCRIPTION     object
ENTITY_DESCRIPTION_SHORT    object
ENTITY_TYPE                 object
DEB_TIME                    object
FIN_TIME                    object
UPDATE_TIME                 object
WORK_DATE                   object
dtype: object

In [ ]:
entity_schedule["DEB_TIME"] = entity_schedule["DEB_TIME"].astype("datetime64[s]")
entity_schedule["FIN_TIME"] = entity_schedule["FIN_TIME"].astype("datetime64[s]")
entity_schedule["UPDATE_TIME"] = entity_schedule["UPDATE_TIME"].astype("datetime64[s]")
entity_schedule["WORK_DATE"] = entity_schedule["WORK_DATE"].astype("datetime64[s]")
entity_schedule.dtypes

REF_CLOSING_DESCRIPTION            object
ENTITY_DESCRIPTION_SHORT           object
ENTITY_TYPE                        object
DEB_TIME                    datetime64[s]
FIN_TIME                    datetime64[s]
UPDATE_TIME                 datetime64[s]
WORK_DATE                   datetime64[s]
dtype: object

In [4]:
entity_schedule["REF_CLOSING_DESCRIPTION"].unique()

NameError: name 'entity_schedule' is not defined

In [14]:
entity_schedule["ENTITY_DESCRIPTION_SHORT"].unique()

array(['Tivoli Gardens', 'Dizzy Dropper', 'Sling Shot', 'Gondola',
       'Monorail', 'Top Spin', 'PortAventura World', 'Skyway',
       'Kiddie Coaster', 'Oz Theatre', 'Free Fall', 'Giga Coaster',
       'Inverted Coaster', 'Himalaya Ride', 'Water Ride',
       'Spinning Coaster', 'Aeroplane Ride', 'Swing Ride', 'Log Flume',
       'Bungee Jump', 'Rapids Ride', 'Scooby Doo', 'Crazy Bus',
       'Spiral Slide', 'Superman Ride', 'Reverse Bungee', 'Power Tower',
       'Drop Tower', 'Merry Go Round', 'Bumper Cars', 'Giant Wheel',
       'Flying Coaster', 'Roller Coaster', 'Go-Karts', 'Haunted House',
       'Zipline', 'Pirate Ship', 'Crazy Dance', 'Circus Train',
       'Vertical Drop', 'Tilt-A-Whirl'], dtype=object)

In [15]:
entity_schedule["ENTITY_TYPE"].unique()

array(['PARK', 'ATTR'], dtype=object)

## Link Attraction Park

In [16]:
link_attraction_park.head()

       ATTRACTION                PARK
0  Aeroplane Ride      Tivoli Gardens
1     Bumper Cars  PortAventura World
2     Bungee Jump  PortAventura World
3    Circus Train  PortAventura World
4       Crazy Bus      Tivoli Gardens

In [17]:
link_attraction_park.dtypes

ATTRACTION    object
PARK          object
dtype: object

## Waiting Times

In [18]:
waiting_times.head()

,WORK_DATE,DEB_TIME,DEB_TIME_HOUR,FIN_TIME,ENTITY_DESCRIPTION_SHORT,WAIT_TIME_MAX,NB_UNITS,GUEST_CARRIED,CAPACITY,ADJUST_CAPACITY,OPEN_TIME,UP_TIME,DOWNTIME,NB_MAX_UNIT
0,2018-01-01,2018-01-01 21:00:00.000,21,2018-01-01 21:15:00.000,Roller Coaster,0,2.0,0.0,0.000,0.00,0,0,0,2.0
1,2018-01-01,2018-01-01 19:30:00.000,19,2018-01-01 19:45:00.000,Bumper Cars,5,18.0,148.0,254.749,254.75,15,15,0,18.0
2,2018-01-01,2018-01-01 22:30:00.000,22,2018-01-01 22:45:00.000,Rapids Ride,0,1.0,0.0,0.000,0.00,0,0,0,2.0
3,2018-01-01,2018-01-01 12:45:00.000,12,2018-01-01 13:00:00.000,Crazy Dance,5,1.0,46.0,250.001,250.00,15,15,0,1.0
4,2018-01-01,2018-01-01 17:00:00.000,17,2018-01-01 17:15:00.000,Skyway,5,15.0,92.0,211.500,198.25,15,15,0,16.0

In [19]:
waiting_times.dtypes

WORK_DATE                    object
DEB_TIME                     object
DEB_TIME_HOUR                 int64
FIN_TIME                     object
ENTITY_DESCRIPTION_SHORT     object
WAIT_TIME_MAX                 int64
NB_UNITS                    float64
GUEST_CARRIED               float64
CAPACITY                    float64
ADJUST_CAPACITY             float64
OPEN_TIME                     int64
UP_TIME                       int64
DOWNTIME                      int64
NB_MAX_UNIT                 float64
dtype: object

In [20]:
waiting_times["WORK_DATE"] = waiting_times["WORK_DATE"].astype("datetime64[s]")
waiting_times["DEB_TIME"] = waiting_times["DEB_TIME"].astype("datetime64[s]")
waiting_times["FIN_TIME"] = waiting_times["FIN_TIME"].astype("datetime64[s]")

In [21]:
waiting_times["DEB_TIME_HOUR"].unique()

array([21, 19, 22, 12, 17, 18, 13, 15, 11, 20, 10, 14, 16,  9],
      dtype=int64)

In [22]:
waiting_times["ENTITY_DESCRIPTION_SHORT"].unique()

array(['Roller Coaster', 'Bumper Cars', 'Rapids Ride', 'Crazy Dance',
       'Skyway', 'Free Fall', 'Monorail', 'Swing Ride', 'Crazy Bus',
       'Drop Tower', 'Spinning Coaster', 'Scooby Doo', 'Superman Ride',
       'Spiral Slide', 'Inverted Coaster', 'Water Ride', 'Power Tower',
       'Top Spin', 'Log Flume', 'Oz Theatre', 'Circus Train',
       'Giant Wheel', 'Kiddie Coaster', 'Bungee Jump', 'Zipline',
       'Aeroplane Ride', 'Haunted House', 'Reverse Bungee', 'Go-Karts',
       'Dizzy Dropper', 'Merry Go Round', 'Flying Coaster', 'Gondola',
       'Pirate Ship', 'Giga Coaster', 'Himalaya Ride', 'Sling Shot',
       'Vertical Drop', 'Tilt-A-Whirl'], dtype=object)

## Weather Data

In [82]:
weather_data.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,915148800,1999-01-01 00:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,8.33,NaN,3.39,5.28,...,NaN,NaN,NaN,NaN,NaN,8,800,Clear,sky is clear,01n
1,915152400,1999-01-01 01:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,8.08,NaN,3.54,5.18,...,NaN,NaN,NaN,NaN,NaN,6,800,Clear,sky is clear,01n
2,915156000,1999-01-01 02:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,8.08,NaN,4.11,5.38,...,NaN,NaN,NaN,NaN,NaN,14,801,Clouds,few clouds,02n
3,915159600,1999-01-01 03:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,7.31,NaN,3.73,4.42,...,NaN,NaN,NaN,NaN,NaN,39,802,Clouds,scattered clouds,03n
4,915163200,1999-01-01 04:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,6.91,NaN,3.53,4.00,...,NaN,NaN,NaN,NaN,NaN,52,803,Clouds,broken clouds,04n

In [83]:
weather_data.dtypes

dt                       int64
dt_iso                  object
timezone                 int64
city_name               object
lat                    float64
lon                    float64
temp                   float64
visibility             float64
dew_point              float64
feels_like             float64
temp_min               float64
temp_max               float64
pressure                 int64
sea_level              float64
grnd_level             float64
humidity                 int64
wind_speed             float64
wind_deg                 int64
wind_gust              float64
rain_1h                float64
rain_3h                float64
snow_1h                float64
snow_3h                float64
clouds_all               int64
weather_id               int64
weather_main            object
weather_description     object
weather_icon            object
dtype: object

In [85]:
weather_data["test_time"] = weather_data["dt_iso"].astype("datetime64[s]")

DateParseError: Unknown datetime string format, unable to parse: 1999-01-01 00:00:00 +0000 UTC, at position 0

In [87]:
weather_data["lon"].unique()

array([2.295104])

In [88]:
weather_data["city_name"].unique()

array(['Custom location'], dtype=object)