In [1]:
import pandas as pd
import numpy as np
from endless_line.data_utils.dataloader import DataLoader

In [2]:
data = DataLoader(load_all_files=True)
data.clean_data()
data.data_preprocessing_attendance_pred()

In [3]:
df = data.attendance
df.head()

  USAGE_DATE  attendance
0 2020-06-01       46804
2 2020-06-02       57940
4 2020-06-03       44365
6 2020-06-04       37617
8 2020-06-05       32438

In [4]:
df_weather = data.weather
df_weather.head(15)

,dt_iso,temp,feels_like,pressure,wind_speed,clouds_all,weather_description_encoded,weather_main_encoded,day,month,day_of_week
166572,2020-01-01,0.327915,0.311923,0.312500,0.791500,0.99,5,2,1,1,2
166596,2020-01-02,0.319687,0.333960,0.578125,0.349639,0.99,4,1,2,1,3
166620,2020-01-03,0.334537,0.320977,0.468750,0.761828,0.43,2,1,3,1,4
166644,2020-01-04,0.449930,0.488896,0.359375,0.720930,1.00,5,2,4,1,5
166668,2020-01-05,0.367851,0.378715,0.343750,0.420209,1.00,4,1,5,1,6
166692,2020-01-06,0.327714,0.388452,0.437500,0.068966,1.00,4,1,6,1,0
166716,2020-01-07,0.293799,0.289033,0.593750,0.546913,1.00,4,1,7,1,1
166740,2020-01-08,0.314469,0.328835,0.593750,0.346431,0.96,4,1,8,1,2
166764,2020-01-09,0.295003,0.320294,0.500000,0.249399,1.00,4,1,9,1,3
166788,2020-01-10,0.350793,0.373420,0.484375,0.284683,0.99,4,1,10,1,4
166812,2020-01-11,0.318483,0.366758,0.593750,0.124298,0.98,5,2,11,1,5
166836,2020-01-12,0.289986,0.325589,0.750000,0.186047,1.00,4,1,12,1,6
166860,2020-01-13,0.254064,0.272122,0.671875,0.292702,1.00,4,1,13,1,0
166884,2020-01-14,0.307847,0.371541,0.625000,0.086608,0.30,2,1,14,1,1
166908,2020-01-15,0.307245,0.290058,0.484375,0.767442,1.00,5,2,15,1,2

In [10]:
df_weather.head()

,dt_iso,temp,feels_like,pressure,wind_speed,clouds_all,weather_description_encoded,weather_main_encoded,day,month,day_of_year
166560,2018-01-01 00:00:00,0.351395,0.344892,0.453125,0.665597,0.23,1,1,1,1,1
166561,2018-01-01 01:00:00,0.333935,0.325760,0.468750,0.660786,0.04,0,0,1,1,1
166562,2018-01-01 02:00:00,0.327714,0.320977,0.484375,0.624699,0.27,2,1,1,1,1
166563,2018-01-01 03:00:00,0.323901,0.317902,0.500000,0.607057,0.78,3,1,1,1,1
166564,2018-01-01 04:00:00,0.309653,0.305091,0.500000,0.564555,0.52,3,1,1,1,1

In [9]:
df = data.attendance
#df.drop(columns=['FACILITY_NAME'], inplace=True)
df_weather.drop(columns=['hour'], inplace=True)
df.head()
# take of the min max and the column

  USAGE_DATE  attendance
0 2018-06-01       46804
2 2018-06-02       57940
4 2018-06-03       44365
6 2018-06-04       37617
8 2018-06-05       32438

In [11]:
df_weather = df_weather[df_weather['dt_iso'].dt.hour == 12].copy()
df_weather['dt_iso'] = df_weather['dt_iso'].dt.date

In [12]:
df_weather.head()

,dt_iso,temp,feels_like,pressure,wind_speed,clouds_all,weather_description_encoded,weather_main_encoded,day,month,day_of_year
166572,2018-01-01,0.327915,0.311923,0.312500,0.791500,0.99,5,2,1,1,1
166596,2018-01-02,0.319687,0.333960,0.578125,0.349639,0.99,4,1,2,1,2
166620,2018-01-03,0.334537,0.320977,0.468750,0.761828,0.43,2,1,3,1,3
166644,2018-01-04,0.449930,0.488896,0.359375,0.720930,1.00,5,2,4,1,4
166668,2018-01-05,0.367851,0.378715,0.343750,0.420209,1.00,4,1,5,1,5